body{
    font-family:andale mono, monospace;
    background-image: url('background.jpeg');
    background-repeat: no-repeat;
    background-position: top center; 
    background-size: 100% 746px;
}

nav ul{
    border: 1px solid #e7e7e7;
}

nav{
    position: fixed;
    top:0;
    background-color:  rgb(229, 234, 236);
}


nav li{
    display: inline;
    padding: 12px;
    border-right: 1px solid #000000;
}

nav li:hover{
    background-color: rgb(129, 174, 196);
}



h1{
    text-align: center;
    font-size: 35px;
    margin-top: 70px;
}


.profilepic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    margin-bottom: 130px;
}

.aboutme{
    text-align: center;
    margin-top: 120px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect (open source)*/
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.aboutme2{
    text-align: center;
    margin-top: 120px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect + animation step above (open source)*/
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


h3{
    text-decoration-line: underline;
    text-decoration-style: double;
}

.edu{
    text-align: center;
    background-color: rgb(229, 234, 236);
    margin-top: 95px;
}

.workexp{
    text-align: center;
    margin-top: 120px;
}

ul li{
    margin-bottom: 10px; 
}

.skill{
    text-align: center;
    margin-top: 120px;
    background-color: rgb(229, 234, 236);
}

.skill table{
    position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-spacing: 60px 0;
}

.cert{
    text-align: center;
    margin-top: 120px;
}

#ContactMe{
    text-align: center;
    background-color: rgb(203, 223, 235);
    margin-top: 120px;
}

input {
    padding: 10px; 
    margin-bottom: 10px; 
}

.foot{
    text-align: left;
    background-color: rgb(222, 234, 242);
}

